@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";

.feature-card {
    background-color: $light !important;
    border-color: rgba(#01ffba, 1.0) !important;
    border-width: 0px !important;
    //border-top-width: 3px !important;
    padding: 1em;
    box-shadow: 1px 1px 3px rgba(black, 0.30);
    border-radius: 10px !important;
    cursor: pointer;
    transition: box-shadow 0.25s, transform 0.25s;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    height: 100%;
}

@include media-breakpoint-up(md) {
    .feature-card:hover {
        box-shadow: 7px 7px 20px rgba(black, 0.30);
        transform: translate(-5px, -5px);
    }
}

.feature-card-title {
    color: $primary;
    text-transform: uppercase;
    font-size: 15pt;
    font-weight: normal;
    margin-top: 1.0em;
    margin-bottom: 0.0em;
    min-height: 2.5em;
}

.feature-card-text {
    color: $body-color;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 10.0pt;
}

.feature-icon {
    height: 60px;
    width: 100%;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
    transition: background-image 0.25s;
}

.feature-card-title:hover  {
    text-decoration:none !important;
}



