@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";

.landing-container {
    background-image: url("/media/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    overflow: hidden;
}

#landing-background {
    position: fixed;
    
    top: 0;
    left: 0;

    object-fit: cover;
    //min-width: 100%;    
}

.pattern-overlay {
    //width: 100%;
    //height: 100%;
    position: fixed;
    background-image: url(/media/pattern.png);
    background-position: center
}

.black-gradient {
    background: linear-gradient(rgba(black, 0.8), rgba(black, 0.0));
}

.slogan {
    text-align: left;
    margin-bottom: 0.4em;

    p {
        color: white;
        display: inline;
    }
}

@include media-breakpoint-up(xl) {
    .slogan {
        font-size: 48pt;
    }
}

.slogan-accent {
    background: linear-gradient(to right,$gradient-primary,$gradient-secondary) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}

.intro-text {
    white-space: pre-wrap;
    color: white;
    text-align: left;
    font-size: 16pt;
    font-weight: 200;
}

.title-button {
    font-size: 16px !important;
    font-weight: bolder !important;
    margin-right: 1.5em;
    margin-top: 1em;
    padding-left: 2em !important;
    padding-right: 2em !important;
}

.feature-card-container {
    margin-top: -15em;
    margin-bottom: 2em;
}

@include media-breakpoint-down(md) {
    .feature-card-container .row div {
        margin-bottom: 1.0em;
    }
}

.clickbait-title {
    font-size: 34pt;
    margin-bottom: 0.75em;
}

.clickbait-button {
    margin-top: auto;
    width: 100%;
}

@include media-breakpoint-down(md) {
    .clickbait-button {
        display: none !important;
    }

    .clickbait-title {
        display: none !important;
    }
}

.title-big {
    font-size: 40pt;
    text-align: center;
    margin-top: 0.0em !important;
    margin-bottom: 0.5em !important;
}


a {
    text-decoration: none !important;
}